<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AjaxMapServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49831/MapAPI.asmx" binding="basicHttpBinding" bindingConfiguration="AjaxMapServiceSoap" contract="MapService.AjaxMapServiceSoap" name="AjaxMapServiceSoap" />
    </client>
  </system.serviceModel>
<connectionStrings><add name="MapDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=MapDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>